header, nav, section, aside, article, figure, figcaption, footer {
    display: block;
}



body {
    color: gray;
    background-color: aquamarine;
    font-family: 'Inter', sans-serif;
    line-height: 1.4em;
    margin: 0px;
}

.wrapper {
    width: 940px;
    margin: 30px auto 20px auto;
    background-color: #ffffff;
}

header {
    padding-top: 20px;
    height: 160px;
}

/* Footer */

footer p {
    padding: 13px 0px 5px 30px;
    font-size: 80%;
}

nav, footer {
    clear: both;    
    height: 50px;
    color: black;
    background-color: darkcyan;
    width: 940px;
    /* padding-top: 25px; */
}

nav ul {
    margin: 0px;
    padding: 16px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover, nav li a.current {
    color: darkturquoise;
}

section.courses {
    float: left;
    width: 659px;
    border: 1px black solid;
}

article {
    clear: both;
    /* overflow: auto; */
    width: 100%;
}

hgroup {
    margin-top: 23px;
}

figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

figcaption {
    font-size: 95%;
    text-align: center;
}

/* ASIDE */

aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}

aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid blue;
    text-decoration: none;
}

aside section a:hover {
    color: dimgray;
    background-color: white;
}

aside h2 {
    padding: 10px 0px 10px 0px;
}


/* H */
h1, h2, h3 {
    font-weight: normal;
}

h1 {
    margin: 0px;
    width: 940px;
    height: 75px;
}

h2 {
    margin: 10px 0px 5px 0px;
}

h3 {
    margin: 0px 0px 10px 0px;
    color: dodgerblue;
}


